.post {
    h3 {
        margin-bottom: 0.75rem;
    }
    data,
    time {
        display: inline-block;
        font-size: 0.75rem;
        margin-bottom: 0.75rem;
        margin-right: 0.75rem;
    }

    data {
        &::before {
            display: inline-block;
            margin-right: 0.75rem;
            content: "\2022";
            color: var(--text-color);
        }
    }
}
